.client {
  display: flex;
  justify-content: center;
}
.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
}
.client-card:hover,
.client-card:focus {
  border-color: var(--secondary-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-logo {
  fill: #afb1b8;
  transition-property: fill;
}

.client-card:hover > .icon-logo,
.client-card:focus > .icon-logo {
  fill: var(--secondary-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
