.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}

.nav-icon {
  margin-right: 10px;
  align-content: center;
  vertical-align: bottom;
  transition-property: fill;
}
.nav-icon:hover {
  fill: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--secondary-color);
  position: relative;
}
.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 46px;
}
.mail-nav {
  margin-left: auto;
}
.tel-nav {
  margin-left: 50px;
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color, fill;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color, fill;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
